#navTools {
    width: 100%;
    height: 75vh;
    color: #000000;
    margin-top: 150px;

}
#info-tools-one{
    display: flex;
    justify-content: space-evenly;
    text-align: start;

}
#text-info-phone {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    align-self: center;
}
#button-gradient{
    background: "linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)";
    border: 0;
    border-radius: 3;
    box-shadow: "0 3px 5px 2px rgba(255, 105, 135, .3)";
    color: "white";
    height: 48;
    padding: "0 30px";
}
#imageCellphone{
    width: 20rem;
    height: auto;
}
#iconPhoneTool{
    padding-top: 2rem;
}
#text-tools-link{
    /* background-color: blue; */
    color: #28A9F1;
    
}
