hr {
  width: 50%;
  height: 2px;
  background-color: #e4e4e4;
  border: none;
}
#text-info {
  color: #222;
  font-family: 'Montserrat', sans-serif;
}
.main-title{
    padding-bottom: 5%;
    text-align: center;
}