#logo-img{
    width: "30%";
    height: "auto";
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffff;
    padding: 0.5% 1% 
}
.center-align{
    align-self: center;
}
#icons a{
    padding-right: 15px;
    color: #5271ff;
}
#copyright{
    font-family: 'Montserrat', sans-serif;
    color: #5C5C5C;
}