#banner1 {
  background-image: url("../../assets/banner.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
  color: aliceblue;
  text-align: center;
}
#banner2 {
  background-image: url("../../assets/banner2.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
  color: aliceblue;
  text-align: center;
  margin-top: 5rem;
}

#text-banner {
  font-family: 'Montserrat', sans-serif;
  padding-top: 20vh;
}
#download-btn {
  font-family: 'Montserrat', sans-serif;
  background-color: #497df9;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 20px 35px;
}
#download-btn2 {
  font-family: 'Montserrat', sans-serif;
  background-color: #497df9;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 35px;
}
#title{
  font-weight: bold;
  font-size: 2.5vh;
}
.subtitle{
  font-size: 4.5vh;
}
#subtitle2{
  margin-top: 0;
}
#subtitle1{
  margin-bottom: 10px;
}
#paragraph{
  font-size: 2vh;
  margin-bottom: 25px;
}